@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Thank you for confirming your Email.";
}

<div class="mt-5 pt-xl-5 text-center ">
    <h1>@ViewData["Title"]</h1>
    <a class="btn btn-dark" asp-controller="Employee" asp-action="Index">Continue</a>.
</div>
